.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 8px;
  gap: 10px;
  max-width: 1400px;
}

.desc {
  max-width: 700px;
  font-size: 18px;
  text-align: center;
}

.title {
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-family: Sora;
  color: grey;
}

.title span {
  color: white;
  font-size: 52px;
  margin-right: 51px;
}

.title p {
  align-self: center;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.carousel p {
  color: grey;
}

.scroller {
  max-width: 650px;
  overflow: hidden;

  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller-inner {
  padding: 10px 0px;
  font-size: 28px;
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 5px));
  }
}

@media (max-width: 781px) {
  .title span {
    font-size: 48px;
  }

  .title {
    font-size: 16px;
  }

  .desc {
    max-width: 520px;
    font-size: 16px;
  }

  .scroller {
    max-width: 580px;
  }

  .scroller-inner {
    font-size: 24px;
  }
}

@media (max-width: 630px) {
  .carousel {
    max-width: calc(100vw - 31px);
  }
  .scroller {
    max-width: 100%;
    -webkit-mask: none;
    mask: none;
  }
}

@media (max-width: 381px) {
  .title span {
    margin: 0px;
    font-size: 42px;
  }

  .title p {
    font-size: 20px;
  }

  .title {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .scroller-inner {
    font-size: 24px;
  }
}

