header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 8px;
  max-width: 1400px;
  height: 40px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  background-color: transparent;
  border: none;
}

#logo-img {
  height: 25px;
}

#logo-img:hover {
  height: 100%;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons li button {
  color:white;
  background-color: transparent;
  font-family: Sora, sans-serif;
  font-size: 14px;
  border: none;
  position: relative;
}

.nav-buttons li button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left; /* change to have effect from left or right, or remove for middle*/
  transition: transform 0.3s ease;
}

.nav-buttons li button:hover::before {
  transform: scaleX(1);
}

/*
@media (min-width: 1201px) {
  
}

*/

