.hero {
  font-family: Sora, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1400px;
  padding: 8px;
  height: calc(100% - 72px); /* prob temp fix */
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.hero-title {
  font-size: var(--fs-82);
}

.hero-desc {
  font-size: var(--fs-24);
}

@media (max-width: 781px) {
  .hero-title {
    font-size: var(--fs-56);
  }
  .hero-desc {
    font-size: var(--fs-18);
  }
}

@media (max-width: 481px) {
  .hero-title {
    text-align: center;
    font-size: var(--fs-42);
  }
  .hero-desc {
    font-size: var(--fs-16);
  }
}

@media (max-width: 381px) {
  .hero-title {
    font-size: var(--fs-52);
  }
  .hero-desc {
    font-size: var(--fs-18);
  }
}
