.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 8px;
  max-width: 1400px;
}

.project-container {
  display: flex;
  padding: 20px;
  gap: 50px;
  margin-top: 20px;
}

.card {
  --border: 8px solid white;

  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 800px;
  background-color: rgb(21, 21, 32);
  border-radius: 5px;
  border: var(--border);
}

.card-content {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.card-img {
  /*280px 225px;*/
  object-fit: contain;

  height: 373.3px;
  width: 300px;
}

.card-title {
  text-align: center;
  padding: 10px;
  font-size: 34px;
  text-transform: uppercase;
  border-top: var(--border);
}

.card:hover > .card-title {
  background-color: white;
  color: rgb(21, 21, 32);
}

.card:hover > .card-title::before,
.card:focus > .card-title::before {
  content: "< ";
}

.card:hover > .card-title::after,
.card:focus > .card-title::before {
  content: " >";
}
